<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat Application</title>
        <link href="/client/css/styles.css" rel="stylesheet" type="text/css">
        <script src="/client/js/chat.js" type="module"></script>
    </head>
    <body>
        <div id="video__chat">
            {{> video}}
        </div>
        {{!-- <div id="audio_chat">
            {{> audio}}
        </div>
        <div id="text_chat">
            {{> textchat}}
        </div> --}}
    </body>
</html>